#topbar-all .dropdown .btn {
    background: #fff;
    border: 2px solid #ddd;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}
#topbar-all .dropdown-toggle::after {
    display: none;
}
#topbar-all .dropdown .btn.cbtn-1 i {
	position: relative;
	left: 249px;
}
#topbar-all .dropdown .btn.cbtn-2 i {
	position: relative;
	left: 120px;
}
#topbar-all .dropdown .btn.cbtn-3 i {
	position: relative;
	left: 75px;
}
#topbar-all .dropdown .btn.cbtn-4 i {
	position: relative;
	left: 140px;
}
#topbar-all .floating-menu {
    float: left;
    padding-right: 15px;
}
#topbar-all .dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem .25rem 5px;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
#topbar-all .floating-menu {
    margin-bottom: 10px;
}








#topbar-all .dropdown .btn.cbtn-1 {
    padding: 5px 0;
    width: 270px;
    text-align: left;
}
#topbar-all .dropdown .btn.cbtn-2 {
    padding: 5px 0;
    width: 140px;
    text-align: left;
}
#topbar-all .dropdown .btn.cbtn-3 {
    padding: 5px 0;
    width: 97px;
    text-align: left;    
}
#topbar-all .dropdown .btn.cbtn-4 {
    padding: 5px 0;
    width: 160px;
    text-align: left;    
}
#topbar-all .dropdown.cmenu-1 .dropdown-menu.show {
	display: block;
	width: 290px;
}
#topbar-all .dropdown.cmenu-2 .dropdown-menu.show {
	display: block;
	width: 600px;
}
#topbar-all .dropdown.cmenu-3 .dropdown-menu.show {
	display: block;
	width: 500px;
}
#topbar-all .dropdown.cmenu-4 .dropdown-menu.show {
	display: block;
	width: 300px;
}




#topbar-all .dropdown.cmenu-1 .dropdown-menu i {
	position: relative;
	left: 246px;
}
#topbar-all .dropdown-menu a {
    font-size: 18px;
    font-weight: 500;
}
#topbar-all .dropdown .btn:hover {
    background: #5697ed;
    color: #fff;
    border: 2px solid #5697ed;
    padding: 5px 0;
}
#topbar-all .btn.focus, .btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
#topbar-all .dropdown-menu {
	padding: 0;
}






#topbar-all .content-scroll {
    padding-top: 10px;
    padding-bottom: 10px;
}
#topbar-all .content-scroll h6 {
    font-weight: 18px;
    font-weight: 700;
}
#topbar-all .content-scroll {
	padding: 15px;
	max-height: 300px;
	overflow-x: auto;
}
#topbar-all .dropdown-menu {
    box-shadow: 0 -1px 13px rgba(0,0,0,.14);
}
#topbar-all .block-lebel {
    position: relative;
}
#topbar-all .inner-checkbox {
    position: absolute;
    top: 0;
    left: 35px;
    
}
#topbar-all .level {
    cursor: pointer;
    font-weight: 600;
    
}
#topbar-all .count {
    cursor: pointer;
    font-weight: 600;
    color: #cacaca;
    
}
#topbar-all .more_link a {
	font-size: 14px;
    color: #5697ed;
	font-weight: 600;
}
#topbar-all .more_link a:hover {
    text-decoration: none;
}
#topbar-all .bor-t1 {
    border-top: 1px solid #ddd;
}
#topbar-all .button-row {
	padding: 10px 25px;
}
#topbar-all .clear_all a {
    color: #95979d;
    font-size: 14px;
    font-weight: 600;
}
#topbar-all .clear_all a:hover {
    text-decoration: none;
}
#topbar-all .apply a {
    color: #fff;
    font-size: 14px;
    background: #5697ed;
    padding: 5px 15px;
    border-radius: 3px;
}
#topbar-all .apply a:hover {
    text-decoration: none;
}











#topbar-all .form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

#topbar-all .input-wrapper i {
	color: #b5b6ba;
	font-style: normal;
	position: absolute;
	z-index: 1;
	top: 35px;
	right: 25px;
}







#topbar-all .radio-list .radio-item-wrapper label {
	font-size: 14px;
	line-height: 22px;
	padding: 6px 0;
	margin: 4px 0;
	font-weight: 600;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}












#topbar-all .toggolar-switch {
	display: inline;
	padding-top: 10px;
}

#topbar-all .switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 18px;
	margin-right: 5px;
	margin-left: 24px;
}

#topbar-all .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

#topbar-all .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#topbar-all .slider::before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

#topbar-all input:checked + .slider {
  background-color: #2196F3;
}

#topbar-all input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#topbar-all input:checked + .slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(15px);
}

/* Rounded sliders */
#topbar-all .slider.round {
  border-radius: 34px;
}

#topbar-all .slider.round:before {
  border-radius: 50%;
}
#topbar-all .toggolar-switch-item {
	line-height: 13px;
	display: inline-block;
}



/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1700px) {
    #topbar-all .toggolar-switch {
        display: inline-flex;
        float: right;
    }

}


/* Small device :575px. */
@media (max-width: 575.5px) {
    #topbar-all .toggolar-switch-item {
        line-height: 13px;
        display: inline;
    }
    #dropdownMenuButton {
        margin-bottom: 10px;
    }
    #topbar-all .toggolar-switch {
        display: inline;
    }

}
/* Medium Device :767px. */
@media (min-width: 576px) and (max-width: 767px) {
    #topbar-all .toggolar-switch-item {
        line-height: 13px;
        display: inline;
    }
    #dropdownMenuButton {
        margin-bottom: 10px;
    }
    #topbar-all .floating-menu {
        margin-bottom: 10px;
    }

}



